In [8]:
from ingestion.kivadataloader import KivaDataLoader

m = KivaDataLoader()

print(m.engine.table_names())

[]

In [3]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np

from config import dbconfig


engine = create_engine(dbconfig.aws_connection_string)
table_names = engine.table_names()
print(table_names)

['partners', 'loan_dates', 'd_date', 'lenders', 'loans', 'loans_lenders']

In [5]:
statement = """SELECT loans.loan_id,original_language,funded_amount,activity_name,sector_name,country_code,borrower_genders,currency,repayment_interval,distribution_model
, loan_dates.* FROM loans
inner join loan_dates on loans.loan_id = loan_dates.loan_id
where status = 'funded' 
and posted_to_raised_days >= 0 and posted_to_raised_days <= 30
"""
#and posted_time_actual >= make_date(2016, 6 ,1) and posted_time_actual <= make_date(2017, 5 ,31)
cleanloans = pd.read_sql_query(statement, engine)

cleanloans.describe()

,loan_id,funded_amount,loan_id,disburse_to_posted_days,posted_to_raised_days,disbursed_to_raised_days
count,1.209612e+06,1.209612e+06,1.209612e+06,1.209592e+06,1.209612e+06,1.209592e+06
mean,7.024412e+05,7.586567e+02,7.024412e+05,1.204523e+01,8.825642e+00,2.129892e+01
std,4.203054e+05,9.977263e+02,4.203054e+05,1.508541e+01,8.199231e+00,1.728952e+01
min,3.080000e+02,2.500000e+01,3.080000e+02,-1.360000e+02,0.000000e+00,-1.100000e+02
25%,3.305378e+05,2.750000e+02,3.305378e+05,5.000000e+00,3.000000e+00,1.200000e+01
50%,6.832365e+05,4.750000e+02,6.832365e+05,1.300000e+01,6.000000e+00,2.300000e+01
75%,1.064144e+06,9.000000e+02,1.064144e+06,2.400000e+01,1.300000e+01,3.300000e+01
max,1.444068e+06,1.000000e+05,1.444068e+06,9.100000e+01,3.000000e+01,1.190000e+02

In [4]:
cleanloans.describe()

,loan_id,funded_amount,loan_id,disburse_to_posted_days,posted_to_raised_days,disbursed_to_raised_days
count,1.783540e+05,178354.000000,1.783540e+05,178354.000000,178354.000000,178354.000000
mean,1.204759e+06,704.752767,1.204759e+06,15.173845,9.896223,25.538379
std,6.216484e+04,1153.332491,6.216484e+04,13.952923,7.845373,15.275543
min,1.092680e+06,25.000000,1.092680e+06,-136.000000,0.000000,-106.000000
25%,1.150955e+06,225.000000,1.150955e+06,7.000000,4.000000,17.000000
50%,1.207906e+06,400.000000,1.207906e+06,17.000000,8.000000,27.000000
75%,1.257332e+06,750.000000,1.257332e+06,26.000000,13.000000,35.000000
max,1.310477e+06,50000.000000,1.310477e+06,32.000000,30.000000,62.000000

In [27]:
cleanloans['num_borrowers_female'] = cleanloans['borrower_genders'].str.count('female')
cleanloans['num_borrowers_male'] = cleanloans['borrower_genders'].str.count('^male') + cleanloans['borrower_genders'].str.count('\, male')
cleanloans['num_borrowers'] = cleanloans['num_borrowers_female']+cleanloans['num_borrowers_male']

cleanloans['num_borrowers_female_pct'] = (cleanloans['num_borrowers_female']*1.00)/cleanloans['num_borrowers']

In [28]:
cleanloans[cleanloans['num_borrowers_female_pct'] == .5]

,loan_id,original_language,funded_amount,activity_name,sector_name,country_code,borrower_genders,currency,repayment_interval,distribution_model,...,posted_time_actual,disburse_time_actual,raised_time_actual,disburse_to_posted_days,posted_to_raised_days,disbursed_to_raised_days,num_borrowers_female,num_borrowers_male,num_borrowers,num_borrowers_female_pct
691,1213663,French,800.0,Retail,Retail,CD,"female, male",USD,monthly,field_partner,...,2016-12-30 04:52:37+00:00,2016-12-21 08:00:00+00:00,2017-03-09 04:40:57+00:00,8.0,68.0,77.0,1.0,1.0,2.0,0.5
737,1208043,French,2000.0,Clothing,Clothing,CD,"male, female",USD,monthly,field_partner,...,2016-12-21 00:30:29+00:00,2016-12-20 08:00:00+00:00,2017-02-26 04:50:03+00:00,0.0,67.0,67.0,1.0,1.0,2.0,0.5
844,1210602,French,1000.0,Clothing Sales,Clothing,CD,"male, female",USD,monthly,field_partner,...,2016-12-26 03:59:29+00:00,2016-12-19 08:00:00+00:00,2017-03-01 01:36:45+00:00,6.0,64.0,71.0,1.0,1.0,2.0,0.5
978,1208837,French,2000.0,Clothing Sales,Clothing,CD,"male, female",USD,monthly,field_partner,...,2016-12-22 07:26:54+00:00,2016-12-17 08:00:00+00:00,2017-02-21 09:54:02+00:00,4.0,61.0,66.0,1.0,1.0,2.0,0.5
1103,1212925,French,800.0,Beverages,Food,CD,"female, male",USD,monthly,field_partner,...,2016-12-29 04:06:55+00:00,2016-12-20 08:00:00+00:00,2017-02-26 09:10:38+00:00,8.0,59.0,68.0,1.0,1.0,2.0,0.5
1159,1209856,French,1500.0,Retail,Retail,CD,"male, female",USD,monthly,field_partner,...,2016-12-23 03:59:57+00:00,2016-12-15 08:00:00+00:00,2017-02-19 05:04:00+00:00,7.0,58.0,65.0,1.0,1.0,2.0,0.5
1187,1204992,French,2000.0,Food,Food,CD,"male, female",USD,monthly,field_partner,...,2016-12-16 04:28:12+00:00,2016-12-13 08:00:00+00:00,2017-02-11 09:21:57+00:00,2.0,57.0,60.0,1.0,1.0,2.0,0.5
1309,939220,English,8325.0,Food,Food,RW,"female, female, female, male, male, male, fema...",RWF,irregular,field_partner,...,2015-08-27 09:54:40+00:00,2015-07-29 07:00:00+00:00,2015-10-23 06:08:44+00:00,29.0,56.0,85.0,6.0,6.0,12.0,0.5
1521,1212309,English,550.0,Personal Housing Expenses,Housing,KH,"female, male",KHR,monthly,field_partner,...,2016-12-29 02:22:56+00:00,2016-12-07 08:00:00+00:00,2017-02-21 06:59:52+00:00,21.0,54.0,75.0,1.0,1.0,2.0,0.5
1653,1185219,English,650.0,Livestock,Agriculture,SL,"male, female",SLL,monthly,field_partner,...,2016-11-15 00:06:46+00:00,2016-11-10 08:00:00+00:00,2017-01-06 03:26:41+00:00,4.0,52.0,56.0,1.0,1.0,2.0,0.5
2080,1213541,French,600.0,Food Stall,Food,CD,"male, female",USD,monthly,field_partner,...,2016-12-30 00:31:09+00:00,2016-12-26 08:00:00+00:00,2017-02-17 05:53:45+00:00,3.0,49.0,52.0,1.0,1.0,2.0,0.5
2202,1114676,English,1650.0,Farming,Agriculture,KH,"male, male, female, female",KHR,monthly,field_partner,...,2016-07-12 03:24:43+00:00,2016-06-14 07:00:00+00:00,2016-08-29 09:56:47+00:00,27.0,48.0,76.0,2.0,2.0,4.0,0.5
2226,1204206,French,2000.0,Motorcycle Transport,Transportation,CD,"female, male",USD,monthly,field_partner,...,2016-12-15 00:33:36+00:00,2016-12-12 08:00:00+00:00,2017-02-01 09:16:30+00:00,2.0,48.0,51.0,1.0,1.0,2.0,0.5
2440,1201799,French,3000.0,Spare Parts,Retail,CD,"female, male",USD,monthly,field_partner,...,2016-12-10 00:04:48+00:00,2016-11-19 08:00:00+00:00,2017-01-26 01:03:15+00:00,20.0,47.0,67.0,1.0,1.0,2.0,0.5
2499,855394,French,2925.0,Agriculture,Agriculture,BF,"female, female, female, male, female, male, fe...",XOF,bullet,field_partner,...,2015-03-14 00:04:05+00:00,2015-02-17 08:00:00+00:00,2015-04-30 01:08:35+00:00,24.0,47.0,71.0,6.0,6.0,12.0,0.5
2689,912844,Spanish,1500.0,Agriculture,Agriculture,HN,"male, female, male, female, female, male",HNL,irregular,field_partner,...,2015-07-03 00:46:00+00:00,2015-06-26 07:00:00+00:00,2015-08-18 06:55:36+00:00,6.0,46.0,52.0,3.0,3.0,6.0,0.5
2740,1163783,French,4500.0,Poultry,Agriculture,CD,"female, male",USD,monthly,field_partner,...,2016-10-06 00:34:21+00:00,2016-10-03 07:00:00+00:00,2016-11-21 03:46:09+00:00,2.0,46.0,48.0,1.0,1.0,2.0,0.5
2757,1203534,French,1500.0,Food Market,Food,CD,"male, female",USD,monthly,field_partner,...,2016-12-14 03:20:41+00:00,2016-12-08 08:00:00+00:00,2017-01-29 00:32:35+00:00,5.0,45.0,51.0,1.0,1.0,2.0,0.5
2818,1209846,French,1100.0,Retail,Retail,CD,"male, female",USD,monthly,field_partner,...,2016-12-23 03:33:39+00:00,2016-12-14 08:00:00+00:00,2017-02-06 07:54:48+00:00,8.0,45.0,53.0,1.0,1.0,2.0,0.5
2866,1142336,English,1375.0,General Store,Retail,TZ,"female, male",TZS,monthly,field_partner,...,2016-08-30 09:04:13+00:00,2016-08-16 07:00:00+00:00,2016-10-15 05:30:13+00:00,14.0,45.0,59.0,1.0,1.0,2.0,0.5
2891,1204022,French,800.0,Retail,Retail,CD,"male, female",USD,monthly,field_partner,...,2016-12-15 07:24:24+00:00,2016-11-26 08:00:00+00:00,2017-01-30 00:43:09+00:00,18.0,45.0,64.0,1.0,1.0,2.0,0.5
3195,988981,French,2000.0,Agriculture,Agriculture,CD,"female, male",USD,monthly,field_partner,...,2015-12-02 07:55:20+00:00,2015-11-24 08:00:00+00:00,2016-01-16 04:41:19+00:00,7.0,44.0,52.0,1.0,1.0,2.0,0.5
3429,1143118,English,925.0,Grocery Store,Food,TZ,"female, male",TZS,monthly,field_partner,...,2016-08-31 02:20:34+00:00,2016-08-26 07:00:00+00:00,2016-10-13 04:15:21+00:00,4.0,43.0,47.0,1.0,1.0,2.0,0.5
3566,1142318,English,600.0,Fuel/Firewood,Retail,TZ,"male, female",TZS,irregular,field_partner,...,2016-08-30 08:36:56+00:00,2016-08-22 07:00:00+00:00,2016-10-13 07:12:37+00:00,8.0,43.0,52.0,1.0,1.0,2.0,0.5
3709,1195653,English,1650.0,Cereals,Food,SL,"female, female, male, male",SLL,monthly,field_partner,...,2016-11-29 04:58:15+00:00,2016-11-18 08:00:00+00:00,2017-01-11 07:52:07+00:00,10.0,43.0,53.0,2.0,2.0,4.0,0.5
3726,880245,Spanish,7000.0,Shoe Sales,Retail,MX,"male, male, female, female",MXN,irregular,field_partner,...,2015-05-05 04:11:47+00:00,2015-04-30 07:00:00+00:00,2015-06-17 07:22:27+00:00,4.0,43.0,48.0,2.0,2.0,4.0,0.5
3780,1050552,English,1800.0,Grocery Store,Food,KH,"female, male, female, male",KHR,monthly,field_partner,...,2016-04-07 04:03:26+00:00,2016-03-17 07:00:00+00:00,2016-05-20 02:13:05+00:00,20.0,42.0,63.0,2.0,2.0,4.0,0.5
4048,1207195,French,1000.0,Clothing Sales,Clothing,CD,"male, female",USD,monthly,field_partner,...,2016-12-20 03:36:18+00:00,2016-12-16 08:00:00+00:00,2017-01-31 03:48:03+00:00,3.0,42.0,45.0,1.0,1.0,2.0,0.5
4073,1212747,French,700.0,Animal Sales,Agriculture,CD,"female, male",USD,monthly,field_partner,...,2016-12-29 00:23:29+00:00,2016-12-20 08:00:00+00:00,2017-02-09 07:59:51+00:00,8.0,42.0,50.0,1.0,1.0,2.0,0.5
4320,1176155,French,1975.0,Liquor Store / Off-License,Food,BI,"female, male, female, female, female, female, ...",BIF,irregular,field_partner,...,2016-10-27 03:17:47+00:00,2016-09-27 07:00:00+00:00,2016-12-08 05:38:00+00:00,29.0,42.0,71.0,8.0,8.0,16.0,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
348056,1141468,English,100.0,Home Appliances,Personal Use,KH,"male, female",KHR,monthly,field_partner,...,2016-08-29 04:14:17+00:00,2016-08-25 07:00:00+00:00,2016-08-30 00:30:37+00:00,3.0,0.0,4.0,1.0,1.0,2.0,0.5
348159,827692,English,500.0,Farming,Agriculture,KH,"male, female",KHR,monthly,field_partner,...,2015-01-14 02:36:23+00:00,2014-12-18 08:00:00+00:00,2015-01-14 03:54:35+00:00,26.0,0.0,26.0,1.0,1.0,2.0,0.5
348172,1066096,English,500.0,Food Stall,Food,TZ,"female, male",TZS,irregular,field_partner,...,2016-05-09 09:04:07+00:00,2016-05-04 07:00:00+00:00,2016-05-10 05:00:36+00:00,5.0,0.0,5.0,1.0,1.0,2.0,0.5
348484,829357,English,75.0,Home Appliances,Personal Use,KH,"female, male",KHR,monthly,field_partner,...,2015-01-19 01:52:55+00:00,2015-01-12 08:00:00+00:00,2015-01-19 03:21:42+00:00,6.0,0.0,6.0,1.0,1.0,2.0,0.5
348500,934455,English,100.0,Home Appliances,Personal Use,KH,"male, female",KHR,monthly,field_partner,...,2015-08-19 04:59:52+00:00,2015-08-10 07:00:00+00:00,2015-08-20 02:18:34+00:00,8.0,0.0,9.0,1.0,1.0,2.0,0.5
348513,1150065,English,200.0,Farming,Agriculture,KH,"female, male",KHR,monthly,field_partner,...,2016-09-14 08:00:03+00:00,2016-08-18 07:00:00+00:00,2016-09-14 06:58:10+00:00,27.0,0.0,26.0,1.0,1.0,2.0,0.5
348540,1142377,English,175.0,Home Appliances,Personal Use,KH,"male, male, female, female",KHR,monthly,field_partner,...,2016-08-30 09:57:13+00:00,2016-08-24 07:00:00+00:00,2016-08-31 08:53:35+00:00,6.0,0.0,7.0,2.0,2.0,4.0,0.5
348572,1210937,English,100.0,Home Appliances,Personal Use,KH,"female, male",KHR,monthly,field_partner,...,2016-12-27 07:04:41+00:00,2016-12-22 08:00:00+00:00,2016-12-27 03:14:42+00:00,4.0,0.0,4.0,1.0,1.0,2.0,0.5
348637,1003177,English,100.0,Home Appliances,Personal Use,KH,"male, female",KHR,monthly,field_partner,...,2016-01-04 06:55:20+00:00,2015-12-23 08:00:00+00:00,2016-01-04 02:22:33+00:00,11.0,0.0,11.0,1.0,1.0,2.0,0.5
348682,836358,English,125.0,Home Appliances,Personal Use,KH,"male, female",KHR,monthly,field_partner,...,2015-02-05 06:12:10+00:00,2015-01-29 08:00:00+00:00,2015-02-06 03:08:07+00:00,6.0,0.0,7.0,1.0,1.0,2.0,0.5
348741,824681,English,375.0,Home Appliances,Personal Use,LA,"female, female, male, female, male, male",LAK,bullet,field_partner,...,2015-01-07 06:51:49+00:00,2015-01-01 08:00:00+00:00,2015-01-07 01:22:53+00:00,5.0,0.0,5.0,3.0,3.0,6.0,0.5
348827,1210798,English,100.0,Home Appliances,Personal Use,KH,"female, male",KHR,monthly,field_partner,...,2016-12-27 03:01:02+00:00,2016-12-15 08:00:00+00:00,2016-12-27 07:27:02+00:00,11.0,0.0,11.0,1.0,1.0,2.0,0.5
348831,972722,English,100.0,Home Appliances,Personal Use,KH,"male, female",KHR,monthly,field_partner,...,2015-11-03 06:32:53+00:00,2015-10-24 07:00:00+00:00,2015-11-04 01:11:32+00:00,9.0,0.0,10.0,1.0,1.0,2.0,0.5
348971,990583,English,100.0,Home Appliances,Personal Use,KH,"female, male",KHR,monthly,field_partner,...,2015-12-07 01:53:48+00:00,2015-11-23 08:00:00+00:00,2015-12-08 00:50:32+00:00,13.0,0.0,14.0,1.0,1.0,2.0,0.5
349005,947566,English,100.0,Home Appliances,Personal Use,KH,"female, male",KHR,monthly,field_partner,...,2015-09-15 02:02:05+00:00,2015-09-06 07:00:00+00:00,2015-09-16 00:42:09+00:00,8.0,0.0,9.0,1.0,1.0,2.0,0.5
349088,1066058,English,475.0,Clothing Sales,Clothing,TZ,"male, female",TZS,irregular,field_partner,...,2016-05-09 07:35:47+00:00,2016-05-05 07:00:00+00:00,2016-05-10 05:00:35+00:00,4.0,0.0,4.0,1.0,1.0,2.0,0.5
349271,825306,English,125.0,Farming,Agriculture,KH,"female, male",KHR,monthly,field_partner,...,2015-01-08 08:39:05+00:00,2014-12-10 08:00:00+00:00,2015-01-09 04:54:30+00:00,29.0,0.0,29.0,1.0,1.0,2.0,0.5
349430,1142376,English,100.0,Home Appliances,Personal Use,KH,"male, female",KHR,monthly,field_partner,...,2016-08-30 09:56:44+00:00,2016-08-24 07:00:00+00:00,2016-08-31 00:49:10+00:00,6.0,0.0,6.0,1.0,1.0,2.0,0.5
349496,1013119,English,100.0,Home Appliances,Personal Use,KH,"female, male",KHR,monthly,field_partner,...,2016-01-25 06:25:08+00:00,2016-01-19 08:00:00+00:00,2016-01-25 06:11:24+00:00,5.0,0.0,5.0,1.0,1.0,2.0,0.5
349546,930295,English,100.0,Home Appliances,Personal Use,KH,"female, male",KHR,monthly,field_partner,...,2015-08-11 04:06:02+00:00,2015-07-16 07:00:00+00:00,2015-08-11 02:46:38+00:00,25.0,0.0,25.0,1.0,1.0,2.0,0.5
349705,829443,English,75.0,Home Appliances,Personal Use,KH,"female, male",KHR,monthly,field_partner,...,2015-01-19 06:40:35+00:00,2015-01-13 08:00:00+00:00,2015-01-19 05:36:59+00:00,5.0,0.0,5.0,1.0,1.0,2.0,0.5
349723,824385,English,100.0,Personal Housing Expenses,Housing,KH,"male, female",KHR,monthly,field_partner,...,2015-01-06 09:32:15+00:00,2014-12-08 08:00:00+00:00,2015-01-06 01:44:05+00:00,29.0,0.0,28.0,1.0,1.0,2.0,0.5
349731,999995,English,175.0,Home Appliances,Personal Use,KH,"female, male, male, female",KHR,monthly,field_partner,...,2015-12-24 03:52:56+00:00,2015-12-21 08:00:00+00:00,2015-12-25 00:30:39+00:00,2.0,0.0,3.0,2.0,2.0,4.0,0.5
349754,1010333,French,400.0,Agriculture,Agriculture,CD,"male, female",USD,monthly,field_partner,...,2016-01-19 08:43:34+00:00,2015-12-29 08:00:00+00:00,2016-01-20 05:42:26+00:00,21.0,0.0,21.0,1.0,1.0,2.0,0.5
349881,826543,English,125.0,Home Appliances,Personal Use,KH,"male, female",KHR,monthly,field_partner,...,2015-01-10 07:13:59+00:00,2014-12-25 08:00:00+00:00,2015-01-11 03:35:15+00:00,15.0,0.0,16.0,1.0,1.0,2.0,0.5
349889,1145991,English,100.0,Home Appliances,Personal Use,KH,"female, male",KHR,monthly,field_partner,...,2016-09-06 02:48:27+00:00,2016-08-23 07:00:00+00:00,2016-09-06 08:39:28+00:00,13.0,0.0,14.0,1.0,1.0,2.0,0.5
349892,998690,English,100.0,Home Appliances,Personal Use,KH,"female, male",KHR,monthly,field_partner,...,2015-12-22 03:02:39+00:00,2015-12-15 08:00:00+00:00,2015-12-23 00:41:45+00:00,6.0,0.0,7.0,1.0,1.0,2.0,0.5
349922,1003239,English,100.0,Home Appliances,Personal Use,KH,"female, male",KHR,monthly,field_partner,...,2016-01-04 07:46:31+00:00,2015-12-21 08:00:00+00:00,2016-01-04 06:02:46+00:00,13.0,0.0,13.0,1.0,1.0,2.0,0.5
350054,1153765,English,175.0,Home Appliances,Personal Use,KH,"female, male, female, male",KHR,monthly,field_partner,...,2016-09-20 08:27:22+00:00,2016-09-14 07:00:00+00:00,2016-09-21 03:49:40+00:00,6.0,0.0,6.0,2.0,2.0,4.0,0.5
350067,1001979,English,100.0,Home Appliances,Personal Use,KH,"female, male",KHR,monthly,field_partner,...,2015-12-30 05:23:58+00:00,2015-12-15 08:00:00+00:00,2015-12-31 01:18:57+00:00,14.0,0.0,15.0,1.0,1.0,2.0,0.5